.mapItem {
    width: 166.5px;
    height: 166.5px;
    border: 1px solid lightgray;
    box-sizing: border-box;

    &.color--red {
        background-color: red;
    }

    &.color--green {
        background-color: green;
    }

    &.u-isView {

        
        .mapOption {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}